.gullar-haqida {
    width: 768px;
    margin: 0 auto;
    .gullar_text {
        font-size: 25px;
        width: 482px;
        margin-left: 83px;
        color: #292933;
    }
    &_list {
        list-style: none;
        display: flex;
        width: 100%;
        margin-left: -20px;
        li {
            margin: 5px;
            width: 50%;
            flex-wrap: wrap;
            p {
                color: #292933;
            }
            img {
                width: 100%;
            }
        }
    }
}

@media (max-width:400px) {
    .gullar-haqida {
        width: 100%;
        .gullar_text {
            text-align: center;
            width: 300px;
            margin-left: 24px;
        }
        &_list {
            width: 100%;
            flex-wrap: wrap;
            margin-left: 1px;
            li {
                width: 100%;
                text-align: center;
                margin-left: -20px;
                p {
                    width: 100%;
                }
            }
        }
    }
}